<section id="addMovie" class="bg-grey-blue p-4 rounded">
    <button onclick="history.back()" class="btn btn-primary mb-3">Back</button>
    <header>
      <h2>Add Movie</h2>
    </header>
    <p>Add Movie with omdb api</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 me-2 form-floating">
                        <input type="text" class="form-control" id="input" placeholder="Add a movie..."/>
                        <label for="input">Add a movie...</label>
                    </div>
                    <button class="btn  btn-lg btn-primary" id="add">Add</button>
                </div>
            </div>
        </div>
    </div>
</section>