<button onclick="history.back()" class="btn btn-primary">Back</button>
<section id="addMovie" class="bg-grey-blue p-4 rounded">
    <header>
      <h2>Add Movie</h2>
    </header>
    <p>Add Movie with omdb api</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control rounded" id="input" placeholder="Add a movie...">
                    <div class="input-group-append">
                        <a class="btn btn-primary" id="add">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>