<section id="addShowing" class="bg-grey-blue p-4 rounded">
    <h1 style="font-weight: 60">Create showing</h1>

    <div class="mb-3">
        <label for="theatre-options" class="form-label">Theatres</label>
        <select id="theatre-options" class="form-select short-input" required>
            <!--hent all theatres dynamisk-->

        </select>
    </div>

    <div class="mb-3">
        <label for="movie-options" class="form-label">Movies</label>
        <select id="movie-options" class="form-select short-input" required>
            <!--hent all active movies dynamisk-->

        </select>
    </div>

    <div class="mb-3">
        <label for="start-time" class="form-label">Scheduled time</label>
        <input id="start-time" type="datetime-local" class="form-control short-input" required>
    </div>

    <button class="btn btn-primary mb-3" id="create-showing-btn">Create</button>

    <button onclick="history.back()" class="btn btn-secondary mb-3">Back</button>

</section>