<section id="bookSeat" class="bg-grey-blue p-4 rounded">
    <header>
        <h2>Book</h2>
    </header>
    <p>Choose seat(s), motherfucker</p>
    <div class="container d-flex flex-column justify-content-center">
        <div id="seatView" class="container">
            <div id="screen" class="text-center">
                lærred
            </div>
            <div class="row mb-2 mx-auto theatre-row">
                <div class="seat accessible mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat occupied mx-1"></div>
                <div class="seat occupied mx-1"></div>
                <div class="seat occupied mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat accessible mx-1"></div>
            </div>
            <div class="row mb-2 mx-auto theatre-row">
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat picked mx-1"></div>
                <div class="seat picked mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
                <div class="seat mx-1"></div>
            </div>

            <div class="row"></div>

        </div>
        <div id="seat-guide" class="container d-flex justify-content-center">
            <div class="d-inline-flex text-center">
                <div class="mx-2 mb-3">
                    <div class="seat guide px-1">
                         Ledig
                    </div>


                </div>
                <div class="mx-2 mb-3">
                    <div class="seat guide occupied px-1">
                        Optaget
                    </div>

                </div>
                <div class="mx-2 mb-3">
                    <div class="seat guide accessible px-1">
                        Kørestol
                    </div>

                </div>
                <div class="mx-2 mb-3">
                    <div class="seat guide picked px-1">
                         Picked
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button onclick="history.back()" class="btn btn-primary">Back</button>


</section>