<section id="adminLogin" class=" bg-grey-blue p-4 rounded">
    <header>
        <div class="container">
            <div class="row justify-content-center">
                <header class="mb-2">
                    <h2 style="margin-bottom: 50px; font-weight: bold; font-size: xxx-large">Login</h2>
                </header>

                <div id="form-container" class="container">
                    <form>
                        <!-- Username input -->
                        <div class="mb-4">
                            <label for="username" class="form-label">Username</label>
                            <input id="username" type="text" class="form-control" required/>
                        </div>

                        <!-- Password input -->
                        <div class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" type="password" class="form-control" required/>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <a style="margin-right: auto" href="#register">Register</a>
                                <a style="margin-left: auto" href="#adminLogin" onclick="function fuku(){alert('womp womp')} fuku()">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <a href="#adminDashboard">
                            <button id="sign-in" type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
                        </a>
                    </form>
                </div>

            </div>
        </div>
    </header>
</section>