<section id="movies" class="bg-grey-blue p-4 rounded">
    <header>
      <h2>Movies, m'lday</h2>
    </header>
    <form id="filter-form" class="form-group mb-4">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="input-group">
                    <select id="genre-select" class="form-select">
                        <!--genre html here -->
                    </select>
                    <select id="age-select" class="form-select">
                        <option value="" selected>Select age</option>
                        <option value="13">13</option>
                        <option value="17">17</option>
                    </select>
                    <button type="button" id="filter-btn" class="btn btn-sm btn-primary">Filter</button>
                </div>
            </div>            
        </div>
        
    </form>
    <div id="movies-div">
        <!--movies html here -->
    </div>
    <div class="container">
        <div id="pagination-div" class="row justify-content-center">
            <!-- pagination controls rendered here -->
        </div>
    </div>
    
</section>