<section id="register" class=" bg-grey-blue p-4 rounded">

    <div class="container">
        <div class="row justify-content-center">
            <header class="mb-2">
                <h2 style="margin-bottom: 50px; font-weight: bold; font-size: xxx-large">Register</h2>
            </header>

            <div id="form-container" class="container">
                <form class="row g-3">

                    <div class="col-md-6 form-floating">
                        <input id="register-username" type="text" class="form-control" placeholder="Username" required/>
                        <label for="register-username" class="form-label">Username</label>
                    </div>

                    <div class="col-md-6 form-floating">
                        <input id="register-password" type="password" class="form-control" placeholder="Password" required/>
                        <label for="register-password" class="form-label">Password</label>
                    </div>

                    <div class="col-md-12 form-floating">
                        <input id="register-full-name" type="text" class="form-control" placeholder="Full name" required>
                        <label for="register-full-name" class="form-label">Full name</label>
                    </div>

                    <div class="col-md-6 form-floating">
                        <input id="register-email" type="email" class="form-control" placeholder="Email" required>
                        <label for="register-email" class="form-label">Email</label>
                    </div>

                    <div class="col-md-4 form-floating">
                        <input id="register-phone-number" type="text" class="form-control" placeholder="Phone number" required>
                        <label for="register-phone-number" class="form-label">Phone number</label>
                    </div>

                    <div class="col-md-2 form-floating">
                        <input id="register-birthday" type="date" class="form-control" required>
                        <label for="register-birthday" class="form-label">Birthday</label>
                    </div>

<!--                    TODO Fix the issue when regiser btn is clicked the hash does not change to #home in the url field.-->
<!--                    at the moment there is a quick fix in register.js-->
                    <button href="#home" id="register-btn" type="button" class="btn btn-primary btn-block mb-4" style="margin-top: 45px">Register</button>

                </form>
            </div>
        </div>
    </div>

</section>