<section id="showings" class=" bg-grey-blue p-4 rounded">


  <div class="container grid-container">
    <div class="row">
      <div class="col">
        <h3 id="movie-title"></h3>
        <img id="movie-thumbnail" src="" alt="">
      </div>

      <div class="col">
        <h3 id="movie-description-header"></h3>
        <p id="movie-description"></p>
      </div>
    </div>
    <div id="showings-grid" class="row row-cols-7 g-3">
<!--      showing will be displayed here-->
    </div>
  </div>

</section>