<section id="showings" class=" bg-grey-blue p-4 rounded">

  <div class="container">
    <div class="row">
      <div class="left-column col-md-4">
        <img id="movie-thumbnail" src="" alt="" class="img-fluid poster">
      </div>

      <div class="right-column col-md-6">
        <h1 id="movie-title"></h1>
        <p id="movie-description"></p>
      </div>
    </div>

    <div id="showings-grid" class="row row-cols-7 g-3">
<!--      showing will be displayed here-->
    </div>
  </div>

</section>