<section id="tickets" class="bg-grey-blue p-4 rounded">
    <header>
      <h2>Ticket checker 3000</h2>
    </header>
    <p>The place to go for ticket checking</p>

    <!-- dropdown menu with all current showings-->
    <div class="mb-3 form-floating">
      <select id="selectBody" class="form-select short-input mb-4" required>
        <!--hent all showings dynamisk-->
      </select>
      <label for="selectBody" class="form-label">Showing</label>

    <div id="errorContainer"></div>

    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Row</th>
          <th scope="col">Seat</th>
        </tr>
      </thead>
      <tbody id="tableBody">
<!--        dynamically load content from backend-->
      </tbody>
    </table>


  </section>