<section id="tickets" class="bg-grey-blue p-4 rounded">
    <header>
      <h2>Ticketchecker 3000</h2>
    </header>
    <p>The place to go for ticketchecking</p>

    <!-- dropdown menu with all current showings-->

    <form>
      <div class="form-group">
        <label for="showing">Select a showing</label>
        <select class="form-control" id="selectBody">
          <option value="1">The Godfather</option>
          <option value="2">The Godfather II</option>
          <option value="3">The Godfather III</option>
        </select>
      </div>
    </form>

    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Row</th>
          <th scope="col">Seat</th>
        </tr>
      </thead>
      <tbody id="tableBody">

      </tbody>
    </table>


  </section>